.input :global {
  $br: 25px;

  -webkit-box-shadow: 0px 4px 3px 0 #bfbfbf;
  box-shadow: 0px 4px 3px 0 #bfbfbf;
  border-radius: $br;

  .MuiFormLabel-root {
    top: -6px;
    left: 6px;

    &.Mui-focused {
      top: 0px;
      left: 0px;
    }
  }

  fieldset {
    border-radius: $br;
  }

  input {
    padding: 10px 20px;
  }
}
