*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.MuiTableRow-root:last-child td,
.MuiTableRow-root:last-child th {
  border: 0;
}
